@font-face {
    font-family: samim;
    src:
        url("Samim.woff2") format("woff2");
}

.samim-font {
    font-family: 'samim';
} 

@font-face {
    font-family: samimfd;
    src:
        url("Farsi-Digits/Samim-FD.woff2") format("woff2");
}

.samim-fd-font {
    font-family: 'samimfd';
    direction: rtl;
} 