@font-face {
    font-family: samim;
    src:
        url("Samim.ttf") format("truetype"),
        url("Samim.woff") format("woff");
}

.samim-font {
    font-family: 'samim';
} 

@font-face {
    font-family: samimfd;
    src:
        url("Farsi-Digits/Samim-FD.ttf") format("truetype"),
        url("Farsi-Digits/Samim-FD.woff") format("woff");
}

.samim-fd-font {
    font-family: 'samimfd';
    direction: rtl;
} 