@keyframes load-component {
    from { transform: translateY(-200px); opacity: 0.8};
    99% { opacity: 1 }
    to { transform: translateY(0px); opacity: 1}
}

.load-component {
    animation-name: load-component;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

.load-component:hover {
    scale: 105%;
}

@keyframes load-bottom-menu {
    from { transform: translateX(200px); opacity: 0.8};
    99% { opacity: 1 }
    to { transform: translateX(0px); opacity: 1}
}
.load-bottom-menu {
    animation-name: load-bottom-menu;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}

.load-bottom-menu:hover {
    scale: 105%;
}

.load-bottom-menu:nth-child(1){
    animation-delay: 0s;
}

.load-bottom-menu:nth-child(2){
    animation-delay: 0.3s;
}

.load-bottom-menu:nth-child(3){
    animation-delay: 0.6s;
}

.load-bottom-menu:nth-child(4){
    animation-delay: 0.9s;
}

.load-bottom-menu:nth-child(5){
    animation-delay: 1.2s;
}


@keyframes spin {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg);}
}

.spin {
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}

@keyframes open-dialog-anim {
    from { scale: 0; display: none;}
    to { scale: 1 ; display: absolute;}
}


@keyframes close-dialog-anim {
    from { scale: 1; display: absolute;}
    50% { scale: 0.5 }
    to { scale: 0; display: none;}
}

.open-dialog-anim {
    animation-name: open-dialog-anim;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    scale: 0;
    animation-timing-function: ease-out;
}


.close-dialog-anim {
    animation-name: open-dialog-anim;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    scale: 1;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}

@keyframes show-error {
    from { transform: translateY(-3px); opacity: 0; }
    to { transform: translateY(0); opacity: 1;}
}

.show-error-anim {
    animation-name: show-error;
    animation-fill-mode: forwards;
    animation-duration: 0.6s;
    opacity: 0;
    animation-timing-function: ease-out;
}