@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .box-shadow{
        box-shadow: 0 0px 10px purple;
    }

    .box-shadow-bottom-button {
        box-shadow: 0px 0px 10px 2px purple;
    }

    .box-shadow-bottom-button-buy {
        box-shadow: 0px 0px 10px 2px rgb(194 65 12);
    }

    .box-shadow-dialog-button-close {
        box-shadow: 0px 0px 10px 2px red;
    }

    .dialog-shadow {
        box-shadow: 0 1px 20px 3px rgb(54, 0, 54);
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}