.neon-text {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.box-shadow-top{
  box-shadow: 0 0px 10px green;
}

.box-shadow-bottom{
  box-shadow: 0 3px 10px -2px green;
}

.box-shadow-bottom:hover{
  box-shadow: 0 3px 10px -2px rgb(0, 80, 0);
}

.box-shadow-buy-btn {
  box-shadow: 0 0px 10px -2px green;
}

.box-shadow-bottom-button {
  box-shadow: -1px 0px 10px -1px green;
}